<?xml version="1.0"?>
<robot name="mickx4">



  <link name="base_link">
     <visual>
      <geometry>
        <box size="0.01 .01 .01"/>
      </geometry>
      <material name="gree">
        <color rgba="0 0 .8 1"/>
      </material>
    </visual>
    <origin rpy="0 0 0" xyz="1 0 0.125"/>
 </link>

  <link name="base_footprint"/>

 <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0.0 0.0 -0.01"/>
  </joint>


  <link name="camera">
     <visual>
      <geometry>
	 <!-- box size=".03 .15 .03"/-->
         <mesh filename="package://mick_description/urdf/mesh/ZED.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="">
        <color rgba="0 0 0 1" />
      </material>
    </visual>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera"/>
    <origin xyz="0.17 0.0 0.75"/>
  </joint>

  <link name="imu_link">
     <visual>
      <geometry>
	 <box size=".05 .02 .02"/>
      </geometry>
      <material name="">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
  </link>

  <joint name="imu_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.05 0.0 0.75"/>
  </joint>

  <link name="rslidar">
     <visual>
      <geometry>
          <!--mesh filename="package://mick_description/urdf/mesh/RS-LiDAR-16.stl" scale="0.001 0.001 0.001">
          </mesh-->
         <cylinder length=".0826" radius="0.0487"/>
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
  </link>

  <joint name="rslidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rslidar"/>
    <origin xyz="0.0 0.0 0.80" rpy="0 0 0"/>
  </joint>

  <link name="body">
     <visual>
      <geometry>
        <box size="0.66 .54 .1"/>
      </geometry>
      <material name="gree">
        <color rgba="0 0 0.8 1"/>
      </material>
    </visual>
 </link>

  <joint name="body" type="fixed">
    <axis xyz="0 0 1"/>
    <parent link="base_link"/>
    <child link="body"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.14"/>
    <limit effort="100" velocity="100"/>
    <joint_properties damping="0.0" friction="0.0"/>
  </joint>

 <link name="left_front_wheel">
    <visual>
      <geometry>
	<!--cylinder length=".06" radius="0.125"/-->
        <mesh filename="package://mick_description/urdf/mesh/wheel.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="left_front_wheel_joint" type="fixed">
    <axis xyz="0 0 1"/>
    <parent link="body"/>
    <child link="left_front_wheel"/>
    <origin rpy="1.57075 0 0" xyz="0.1 0.285 -0.14"/>
    <limit effort="100" velocity="100"/>
    <joint_properties damping="0.0" friction="0.0"/>
  </joint>

 <link name="right_front_wheel">
    <visual>
      <geometry>
        <mesh filename="package://mick_description/urdf/mesh/wheel.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="right_front_wheel_joint" type="fixed">
    <axis xyz="0 0 1"/>
    <parent link="body"/>
    <child link="right_front_wheel"/>
    <origin rpy="1.57075 0 0" xyz="0.1 -0.37 -0.14"/>
    <limit effort="100" velocity="100"/>
    <joint_properties damping="0.0" friction="0.0"/>
  </joint>

  <link name="right_back_wheel">
    <visual>
      <geometry>
        <mesh filename="package://mick_description/urdf/mesh/wheel.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="right_back_wheel_joint" type="fixed">
    <axis xyz="0 0 1"/>
    <parent link="body"/>
    <child link="right_back_wheel"/>
    <origin rpy="1.57075 0 0" xyz="-0.35 -0.37 -0.14"/>
    <limit effort="100" velocity="100"/>
    <joint_properties damping="0.0" friction="0.0"/>
 </joint>

  <link name="left_back_wheel">
    <visual>
      <geometry>
        <mesh filename="package://mick_description/urdf/mesh/wheel.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="left_back_wheel_joint" type="fixed">
    <axis xyz="0 0 1"/>
    <parent link="body"/>
    <child link="left_back_wheel"/>
    <origin rpy="1.57075 0 0" xyz="-0.35 0.285 -0.14"/>
    <limit effort="100" velocity="100"/>
    <joint_properties damping="0.0" friction="0.0"/>
  </joint>

 
  <link name="part1">
    <visual>
      <geometry>
        <box size=".02 .02 .54"/>
      </geometry>
      <material name="white">
          <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="part1_joint" type="fixed">
    <parent link="body"/>
    <child link="part1"/>
    <origin xyz="0.17 0.17 0.32"/>
  </joint>

  <link name="part2">
    <visual>
      <geometry>
        <box size=".02 .02 .54"/>
      </geometry>
      <material name="white">
          <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="part2_joint" type="fixed">
    <parent link="body"/>
    <child link="part2"/>
    <origin xyz="0.17 -0.17 0.32"/>
  </joint>

  <link name="part3">
    <visual>
      <geometry>
        <box size=".02 .02 .54"/>
      </geometry>
      <material name="white">
          <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="part3_joint" type="fixed">
    <parent link="body"/>
    <child link="part3"/>
    <origin xyz="-0.17 -0.17 0.32"/>
  </joint>

  <link name="part4">
    <visual>
      <geometry>
        <box size=".02 .02 .54"/>
      </geometry>
      <material name="white">
          <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="part4_joint" type="fixed">
    <parent link="body"/>
    <child link="part4"/>
    <origin xyz="-0.17 0.17 0.32"/>
  </joint>

 
  <link name="part5">
    <visual>
      <geometry>
        <box size=".35 .35 .02"/>
      </geometry>
      <material name="white">
          <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="part5_joint" type="fixed">
    <parent link="body"/>
    <child link="part5"/>
    <origin xyz="0 0 0.59"/>
  </joint>

  <link name="part6">
    <visual>
      <geometry>
        <box size=".35 .35 .02"/>
      </geometry>
      <material name="white">
          <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>

  <joint name="part6_joint" type="fixed">
    <parent link="body"/>
    <child link="part6"/>
    <origin xyz="0 0 0.30"/>
  </joint>

  <!-- LED screen -->
  <link name="part7">
    <visual>
      <geometry>
        <box size=".02 .30 .20"/>
      </geometry>
      <material name="">
          <color rgba="0.5 0.45 0 1"/>
      </material>
    </visual>
  </link>
  
  <joint name="part7_joint" type="fixed">
    <parent link="body"/>
    <child link="part7"/>
    <origin rpy= "0 0.4 0" xyz="-0.22 0 0.50"/>
  </joint>
</robot>
