<launch>

  <node pkg="mick_bringup" type="mick_bringup" name="mick_bringup" output="screen">
	<param name="sub_cmdvel_topic" value="/cmd_vel" type="str" />
	<param name="pub_odom_topic" value="/odom" type="str" />
	<param name="dev" value="/dev/ttyUSB0" type="str" />
	<param name="baud" value="115200" type="int" />
	<param name="time_out" value="1000" type="int" />
	<param name="hz" value="50" type="int" />
	<param name="chassis_type" value="1" type="int" /> <!--0: 差速底盘  1: 麦克纳姆轮底盘 -->
  </node>

  <!-- RplidarA3 -->
  <!-- include file="$(find rplidar_ros)/launch/rplidar_a3.launch" / -->

  <!-- node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.0 0 0.5 -3.1415926 0 0 base_link laser 50" / -->


</launch>
